:root {
  --padding-section: 36px;
  --width-sponsor: 140px;
  --width-speaker-text: 240px;
  --width-speaker-image: 140px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  color: black;
  background: rgb(148, 187, 233, 1);
  background: -moz-linear-gradient(329deg, rgba(238, 229, 174, 1) 0%, rgba(148, 187, 233, 1) 100%);
  background: -webkit-linear-gradient(329deg, rgba(238, 229, 174, 1) 0%, rgba(148, 187, 233, 1) 100%);
  background: linear-gradient(329deg, rgba(238, 229, 174, 1) 0%, rgba(148, 187, 233, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eee5ae", endColorstr="#94bbe9", GradientType=1);
}

header {
  width: 100%;
  height: 70px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.section-title {
  font-size: 24pt;
  text-align: center;
  font-weight: 700;
}

.container div.section {
  flex-wrap: wrap;
  justify-content: center;
}

.section.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100vh - 70px);
  padding: var(--padding-section);
}

.about .brand > img {
  max-height: 300px;
}

.about .event-name {
  font-size: 28pt;
}

.about .buttons {
  display: flex;
  gap: 16px;
}

.about .text {
  margin-top: 16px;
  margin-bottom: 32px;
}

.section.sponsors {
  display: flex;
  flex: 1 1 100px;
  gap: 8px;
  padding: var(--padding-section);
}

.sponsor img {
  height: var(--width-sponsor);
  /* width: var(--width-sponsor); */
  max-width: 260px;
  /* object-fit: cover; */
}

.sponsor .type {
  width: calc(var(--width-sponsor) - 40px);
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
  /* color: lightgray; */
}

.section.speakers {
  display: flex;
  flex: 1 1 100px;
  gap: 16px;
  padding: var(--padding-section);
  text-align: center;
}

.speakers .speaker {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
  width: var(--width-speaker-text);
  text-align: center;
}

.speaker img {
  height: var(--width-speaker-image);
  width: var(--width-speaker-image);
  object-fit: cover;
  border-radius: 50%;
}

.speaker .name {
  font-size: 14pt;
}

.section.schedule {
  padding: var(--padding-section);
  overflow: scroll;
  overflow-y: hidden;
  color: black;
}

.schedelude-title {
  font-size: 22px;
  text-align: center;
}

.schedule-container {
  display: grid;
  padding-top: 16px;
  padding-bottom: 64px;
}

.schedule-container > .header, .schedule-container > .line {
  display: grid;
  grid-template-columns: minmax(60px, 1fr) minmax(160px, 1fr) minmax(240px, 3fr) minmax(140px, 1fr);
}

.schedule-container .header {
  color: lightgrey;
  background-color: #222;
  font-size: 11pt;
  font-weight: 600;
}

.schedule-container>div {
  padding: 8px;
  border-bottom: 1px solid darkgray;
  background-color: beige;
}

.schedule-container>div {
  border-bottom: 1px solid #444;
}



.btn {
  border-width: 1px;
  border-style: solid;
  color: white;
  font-size: 12pt;
  padding: 6px 10px;
}

.btn.solid-black {
  background-color: black;
  border-color: black;
  color: white;
}

.btn.line-black {
  background-color: black;
  border-color: black;
  color: black;
  background-color: transparent;
}

.btn.solid-yellow {
  border-color: #fce94f;
  color: black;
  background-color: #fce94f;
}

.btn.line-blue {
  border-color: royalblue;
  color: royalblue;
}

.btn.solid-blue {
  border-color: royalblue;
  color: white;
  background-color: royalblue;
}

a>i {
  font-size: 20pt;
  color: black;
}